.page-header
  %ul.nav.nav-pills.pull-right
    %li
      = link_to playlists_path do
        %span.glyphicon.glyphicon-chevron-left
        Back
  %h2
    %span.glyphicon.glyphicon-list
    Playlist
    %small= @playlist.name

.well
  .row
    .col-md-3
      .form-group
        %label Name
        %p.form-control-static= @playlist.name
    .col-md-6
      .form-group
        %label Description
        %p.form-control-static= @playlist.description || "None"
    .col-md-3
      .form-group
        %label Owner
        %p.form-control-static= @playlist.owner.display_name
  .row
    .col-md-3
      = link_to export_as_csv_user_playlist_path(user_id: @playlist.owner.id, id: @playlist.id), class: "btn btn-md btn-default btn-block" do
        %span.glyphicon.glyphicon-export
        Export as CSV
    .col-md-3
      = link_to user_playlist_rss_feeds_path(user_id: @playlist.owner.id, playlist_id: @playlist.id), class: "btn btn-md btn-default btn-block", disabled: current_user.spotify_id != @playlist.owner.id do
        %span.glyphicon.glyphicon-cloud-download
        Build from RSS

.row
  .col-md-8
    .panel.panel-default
      .table-responsive
        %table#tracks-table.table.table-responsive
          %thead
            %tr
              %th Name
              %th Artist
              %th Album
          %tbody
            - @tracks.each do |track|
              %tr
                %td= track.name
                %td= track.artists.map{|artist| artist.name}.join(", ")
                %td= track.album.name
      .panel-footer.text-center
        %p= will_paginate @tracks
        %p= page_entries_info @tracks, model: "tracks"
  .col-md-4.text-center
    .well.text-center
      <iframe src="https://embed.spotify.com/?uri=spotify:user:#{@playlist.owner.id}:playlist:#{@playlist.id}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
