.page-header
  %ul.nav.nav-pills.pull-right
    %li
      = link_to "Back", playlists_path
  %h2
    Playlist
    %small= @playlist.name

.well
  = link_to "Export as CSV", "#", class: "btn btn-md btn-default"

.panel.panel-default
  .table-responsive
    %table.table.table-responsive
      %thead
        %tr
          %th Name
          %th Artist
          %th Album
      %tbody
        - @tracks.each do |track|
          %tr
            %td= track.name
            %td= track.artists.map{|artist| artist.name}.join(", ")
            %td= track.album.name
  .panel-footer
    .text-center
      = will_paginate @tracks
