.page-header
  %ul.nav.nav-pills.pull-right
    %li
      = link_to "Back", playlists_path
  %h2
    %span.glyphicon.glyphicon-list
    Playlist
    %small= @playlist.name

.well
  .row
    .col-md-3
      .form-group
        %label Name
        %p.form-control-static= @playlist.name
    .col-md-6
      .form-group
        %label Description
        %p.form-control-static= @playlist.description
    .col-md-3
      .form-group
        %label Owner
        %p.form-control-static= @playlist.owner.display_name
  .row
    .col-md-3
      = link_to "#", class: "btn btn-md btn-default" do
        %span.glyphicon.glyphicon-export
        Export as CSV

.panel.panel-default
  .table-responsive
    %table#tracks-table.table.table-responsive
      %thead
        %tr
          %th Name
          %th Artist
          %th Album
      %tbody
        - @tracks.each do |track|
          %tr
            %td= track.name
            %td= track.artists.map{|artist| artist.name}.join(", ")
            %td= track.album.name
  .panel-footer
    .text-center
      = will_paginate @tracks
